[Desktop Entry]

Name=wallpaper_changer_panel
Type=Application
Exec=Documents/scripts/general/sh/shift_plank.sh wallsControl
Icon=wall_ch-grey-lighter